.show-grid-header [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cccccc;
    background-color: rgba(204,204,204,.204);
    border: 1px solid #7f7f7f;
    border: 1px solid rgba(127,127,127,.127);
    font-weight: bold;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #7f7f7f;
    border: 1px solid rgba(127,127,127,.127);
}

.checkbox-all {

}

.checkbox-item {

}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.font-blue-sunglo {
    color: #4B79E2 !important;
}

.ng-scope .k-state-selected a {
    color: white;
}

/* Animation for validation message */
.language-bar:hover {
    cursor: pointer;
}

.validate-messages {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.modal-action {
    margin: 25px;
}

.min-width-30px {
    min-width: 30px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-125px {
    width: 125px;
}

.width-150px {
    width: 150px;
}

.width-200px {
    width: 200px;
}

.width-100p {
    min-width: 150px;
    width: 100%;
}

.height-500px {
    height: 500px;
}

.advance-search {
    padding: 0px 10px 0px 0px;
}

.advance-search-panel,
.advance-search-collapse {
    background-color: #f5f5f5;
    border: solid 1px #ccc;
}

.advance-search-panel {
    padding: 10px;
    border-bottom: 0px;
}

.advance-search-collapse {
    padding-right: 10px;
}

.align-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

#btn-ddl-toggle-adv-search {
    border-radius: 0;
}

@media (min-width: 768px) {
    #view-wrapper {
        position: inherit;
        margin: 0 0 0 0px;
        padding: 0 15px;
        border-left: 1px solid #e7e7e7;
    }

    #adv-search {
        margin: 0 auto;
    }

    #ddl-adv-search {
        position: static !important;
    }

    #grdCourseDetail .k-grid-content {
        height: 181px;
    }
}

.k-widget.k-notification.k-notification-info {
    background-color: #00c0ef !important;
    border-color: #00c0ef !important;
    color: white;
}

.k-widget.k-notification.k-notification-success {
    background-color: #00a65a !important;
    border-color: #00a65a !important;
    color: white;
}

.k-widget.k-notification.k-notification-warning {
    background-color: #f39c12 !important;
    border-color: #f39c12 !important;
    color: white;
}

.k-widget.k-notification.k-notification-error {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    color: white;
}

.k-widget select, .k-widget textarea, .k-widget input[type="text"]:not(.k-input), .k-widget input[type="password"], .k-widget input[type="datetime"], .k-widget input[type="datetime-local"], .k-widget input[type="date"], .k-widget input[type="month"], .k-widget input[type="time"], .k-widget input[type="week"], .k-widget input[type="number"], .k-widget input[type="email"], .k-widget input[type="url"], .k-widget input[type="search"], .k-widget input[type="tel"], .k-widget input[type="color"], .k-widget .uneditable-input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.k-window .row, .k-window .row *:not(.k-widget):not(.k-animation-container), .k-widget .row *:before:not(.k-widget) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.k-widget .col-lg-1, .k-widget .col-lg-2, .k-widget .col-lg-3, .k-widget .col-lg-4, .k-widget .col-lg-5, .k-widget .col-lg-6, .k-widget .col-lg-7, .k-widget .col-lg-8, .k-widget .col-lg-9, .k-widget .col-lg-10, .k-widget .col-lg-11, .k-widget .col-lg-12, .k-widget .col-md-1, .k-widget .col-md-2, .k-widget .col-md-3, .k-widget .col-md-4, .k-widget .col-md-5, .k-widget .col-md-6, .k-widget .col-md-7, .k-widget .col-md-8, .k-widget .col-md-9, .k-widget .col-md-10, .k-widget .col-md-11, .k-widget .col-md-12, .k-widget .col-sm-1, .k-widget .col-sm-2, .k-widget .col-sm-3, .k-widget .col-sm-4, .k-widget .col-sm-5, .k-widget .col-sm-6, .k-widget .col-sm-7, .k-widget .col-sm-8, .k-widget .col-sm-9, .k-widget .col-sm-10, .k-widget .col-sm-11, .k-widget .col-sm-12, .k-widget .col-xs-1, .k-widget .col-xs-2, .k-widget .col-xs-3, .k-widget .col-xs-4, .k-widget .col-xs-5, .k-widget .col-xs-6, .k-widget .col-xs-7, .k-widget .col-xs-8, .k-widget .col-xs-9, .k-widget .col-xs-10, .k-widget .col-xs-11, .k-widget .col-xs-12 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#grdAllSubject .k-grid-content, #grdAllPreSubject .k-grid-content, #grdPreSubject .k-grid-content, #grdAllIntSubject .k-grid-content, #grdIntSubject .k-grid-content {
    height: 217px;
}

#grdCourseDetail .k-grid-content {
    height: 181px;
}

#grdMinorCurriculumDepartment .k-grid-content {
    height: 180px;
}

.height-480px {
    height: 480px;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.first-form-section {
    margin-top: 0px !important;
}

.animate-show {
    /*line-height: 20px;*/
    opacity: 1;
    /*padding: 10px;*/
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.3s;
}

.animate-show.ng-hide {
    /*line-height: 0;*/
    opacity: 0;
    /*padding: 0 10px;*/
}

.k-grid .k-selectable tr:hover {
    cursor: pointer;
}

.change-background {
    background-color: #f28c89;
}

.tile-with-table{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pt-5px {
    padding-top: 5px;
}

.pt-0 {
    padding-top: 0rem;
}
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pt-4 {
    padding-top: 4rem;
}

.pb-0 {
    padding-bottom: 0rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.pb-4 {
    padding-bottom: 4rem;
}

.pl-0 {
    padding-left: 0rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pl-3 {
    padding-left: 3rem;
}
.pl-4 {
    padding-left: 4rem;
}

.pr-0 {
    padding-right: 0rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.pr-3 {
    padding-right: 3rem;
}
.pr-4 {
    padding-right: 4rem;
}

.mt-0 {
    margin-top: 0rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}

.ml-0 {
    margin-left: 0rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}

.mr-0 {
    margin-right: 0rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}